body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
}

h1 {
  font-weight: lighter;
  font-size: 40px;
  letter-spacing: 10px;
  margin-bottom: 0px;
  color: #9cd3d3;
  font-family: 'News Cycle', sans-serif;
}

.inputSection {
  margin: 50px 0px 50px 0px;
  width: 400px;
}

.inputs {
  width: inherit;
  display: flex;
  flex-direction: column;
}

input {
  width: inherit;
  height: 30px;
  outline: none;
  background-color: inherit;
  color: inherit;
  font-size: 25px;
  font-family: inherit;
  font-weight: inherit;
  border: none;
  border-bottom: 1px solid #9cd3d3;
  border-radius: 0;
  -webkit-appearance: none;
  padding: 5px 0;
  margin: 0 0 15px 0;
  transition: all 0.3s ease;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #9cd3d3;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #9cd3d3;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #9cd3d3;
}
:-moz-placeholder { /* Firefox 18- */
  color: #9cd3d3;
}

.addOption {
  height: 40px;
  width: 40px;
  background-color: #9cd3d3;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  font-size: 25px;
  transition:all 0.3s ease;
}

.addOption:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.addOption:focus,
.addOption:active {
  outline: none;
}

.line {
  height: 2px;
  width: 30px;
  background-color: #EFFAF4;
  position: absolute;
  top: 19px;
  left: 5px;
}

.line.vertical {
  -webkit-transform: rotateZ(-90deg);
  -ms-transform: rotateZ(-90deg);
  transform: rotateZ(-90deg);
}

.submit {
  background-color: #9cd3d3;
  border-radius: 5px;
  color: #EFFAF4;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 20px;
}

.submit:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.submit:focus {
  outline: none;
}

.resultSection {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}

html {
  background-color: #EFFAF4;
}
